node_modules
lerna-debug.log
npm-debug.log
yarn-error.log
packages/**/dist
!packages/api/dist
!packages/xrpc/dist
.idea
packages/*/coverage
.vscode/
test.sqlite
.DS_Store
*.log
*.tsbuildinfo
.*.env
.env
\#*\#
*~
*.swp
